.map {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

.bottom-block {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 10px;
  z-index: 2;
}

.legend-card {
  margin-right: 10px;
}

.legend-bar {
  display: flex;
  flex-direction: row;
}

.legend-image {
  padding: 0;
  margin: 0;
}

.legend-unit {
  text-align: center;
}

.legend-labels ul {
  padding: 0px;
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.legend-labels li {
  display: block;
}

.legend-labels span {
  padding-left: 5px;
}

.attribution {
  position: absolute;
  bottom: 0px;
}

.attribution-wrapper {
  width: 40px;
}

.zoom-wrapper {
  right: 5px;
  position: absolute;
  z-index: 2;
  margin-right: 8px;
  margin-top: 8px;
}

.zoom-button {
  margin: 2px;
}

@media (max-width: 425px) {
  .zoom-wrapper {
    display: none;
  }
}
