<h1 mat-dialog-title>Attributions</h1>
<div mat-dialog-content>
  <ul>
    <li>©<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors</li>
    <li>
      ©Esri — Source: Esri, Maxar, GeoEye, Earthstar Geographics, CNES/Airbus DS, USDA, USGS, AeroGRID, IGN, and the GIS
      User Community
    </li>
    <li>
      Icons provided by
      <a href="https://www.socib.eu/">Balearic Islands Coastal Observing and Forecasting System (SOCIB)</a>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
