<div [hidden]="!loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="chart">
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateFlag"
    [constructorType]="'stockChart'"
    [callbackFunction]="chartCallback"
  >
  </highcharts-chart>
</div>
<mat-card class="series-card" *ngIf="timeseriesLoaded | async">
  <mat-card-content>
    <section class="param-section" *ngFor="let timeseries of timeseries; let i = index">
      <span>
        <mat-checkbox
          class="param-margin"
          [checked]="allSelected(timeseries)"
          [indeterminate]="someSelected(timeseries)"
          (change)="selectAll($event.checked, timeseries); updateChart()"
        >
          {{ this.vocabService.getMeasurementName(timeseries.parameter.name) }}
        </mat-checkbox>
        <ng-container
          *ngIf="
            timeseries.series.length == 1 && timeseries.series[0].depth !== undefined && timeseries.series[0].depth > 0
          "
          >{{ timeseries.series[0].depth }}m</ng-container
        >
      </span>
      <span [hidden]="timeseries.series.length <= 1">
        <ul>
          <li *ngFor="let series of timeseries.series">
            <mat-checkbox [(ngModel)]="series.selected" (change)="updateChart()"> {{ series.depth }}m </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
  </mat-card-content>
</mat-card>
