<mat-toolbar class="header" color="primary">
    <!--<button mat-icon-button *ngIf="this.mobile" (click)="layerSwitcher.toggleVisible()">
        <mat-icon *ngIf="!layerSwitcher.getVisible()">
            menu
        </mat-icon>
        <mat-icon *ngIf="layerSwitcher.getVisible()">
            close
        </mat-icon>
    </button>-->
    <img class="logo" src="./assets/ogs_w.png"/>
    <span>NODC | Geoportal</span>
</mat-toolbar>
<app-layer-switcher #layerSwitcher  ></app-layer-switcher>
<app-ol-map></app-ol-map>
<router-outlet></router-outlet>
