<mat-toolbar class="header" color="primary">
  <img class="logo" src="./assets/20201221_OGS_logo_RGB_W_B.png" />
  <span>Geoportal (beta)</span>
  <span class="toolbar-spacer"></span>
  <a mat-raised-button href="https://nodc.ogs.it/erddap/" target="_blank">Download data</a>
  <!-- <a mat-icon-button aria-label="Download data" href="https://nodc.ogs.it/erddap/" target="_blank">
    <mat-icon>get_app</mat-icon>
  </a> -->
</mat-toolbar>
<app-layer-switcher></app-layer-switcher>
<app-ol-map></app-ol-map>
<router-outlet></router-outlet>
