<button mat-icon-button mat-dialog-close class="close-button">
  <mat-icon>close</mat-icon>
</button>
<div matDialogTitle>
  {{ this.data.get('name') }}
  <i>{{ this.data.get('type_name') }}</i>
</div>
<mat-tab-group dynamicHeight>
  <mat-tab label="Latest data">
    <app-data-table *ngIf="data" [data]="data"></app-data-table>
  </mat-tab>
  <mat-tab label="Graphs">
    <app-graphs *ngIf="data" [data]="data"></app-graphs>
  </mat-tab>
  <mat-tab label="Description" *ngIf="isString(this.data.get('descriptio'))">
    <div [innerHTML]="this.data.get('descriptio')"></div>
  </mat-tab>
</mat-tab-group>
